<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel" placeholder="Post title">
      <mat-error *ngIf="title.invalid">Pls enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" ngModel name="content" [(ngModel)]="enteredContent" required #content="ngModel"
        placeholder="Post content">
    </textarea>
      <mat-error *ngIf="content.invalid">Pls eneter content</mat-error>

    </mat-form-field>
    <button mat-raised-button type="submit" color="accent">
      Save Post
    </button>
  </form>

</mat-card>

<hr />
<!-- <p>{{ newPost }}</p> -->